*  {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

.wrap {
    min-height: 100svh;
    display: grid;
    place-items: center;
    padding: 18px;
    background-color: aquamarine; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pf-card  {
    width: clamp(280px, 90vw,560px);
    background: linear-gradient(135deg, rgba(21,18,179,.95), rgba(164, 10,174.95));
    color: aliceblue;
    text-align: center;
    gap: 12px;
    display: center;
    border: 4px solid rgba
    

}
.pf