p{
    color: blueviolet;
    font-size: 18px;
}
h1{
    color: cadetblue;
    text-align: center;
    font-size: 40px;
}
body{
    background-color:rgb(red, green, blue);
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: burlywood;
    border-radius:  10px ;
    padding: 20px;
    margin: 20px;
}
.info{
    color: blue;
}
#varovani{
    color: brown;
}