body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wrap{
    padding: 16px;
}

h2{
    background: turquoise;
}

a{ 
    background: gold;
}
.d1, .a1{
    display: inline-block;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background: violet;
    width: 180px;
    height: 80px;
    margin-top: 80px;

}