body{
    margin: 0;
    padding: 0;

}
.wrap{
    margin: 16px;

}
.panel{
    width: 400px;
    height: 400px;
    background: red;
    margin-bottom: 16px;
    border-width: 10px;
    border-style: solid;
    border-color: darkred;
}
.weird{
    width: 400px;
    height: 400px;
    background: yellow;
    margin-bottom: 16px;

    border-width: 10px;
    border-left-style: dashed;
    border-top-style:dotted ;
    border-right-style: dotted;
    border-bottom-style:dashed;
}
.card{
    width: 400px;
    height: 400px;
    background: green;
    margin-bottom: 16px;
    border: 5px solid salmon;
    
    border-width: 10px;
    border-left-style: groove;
    border-top-style: ridge;
    border-right-style: outset;
    border-bottom-style: double;



}